.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.home-main {
    margin-left: 35px;
    margin-top: 10px;
}

.list-workers li {
    cursor: pointer;
}

.list-workers {
    display: grid;
    grid-template-columns: 500px 1300px;
    height: 700px;
}

.departments-main {
    margin-bottom: 60px;
    margin-top: 60px;
}

.inf-dt .container {
    margin-left: 60px;
    margin-top: 30px;
}

.contact {
    display: grid;
    grid-template-rows: 200px 600px;
}

.contact p {
    margin: 1px;
}

.form-contact {
    padding-top: 125px;

}

.form-contact .container {
    margin-left: 60px;
}

.news-main .col {
    margin: 15px;
}

.news-main  .offset-md-2 {
    margin-left: 37%;
}
.research-main  .offset-md-2 {
    margin-left: 47%;
}

.research-main .col {
    margin: 5px;
}
.research-main p {
   font-size: 25px;
}
